<% include partials/header %>

<div id="header" class="text-center">
    <h1>Landing Page!</h1>

    <p><strong>Welcome to YelpCamp!</strong></p>

    <a href="/campgrounds">Go to Campgrounds!</a>
</div>

<% include partials/footer %>