<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container text-center">
            <h1 class="display-3">Campground Specific Description!</h1>
        </div>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="container">
            <img class="rounded mx-auto d-block" src="<%=campground.image%>">
            <div class="d-flex flex-column pt-5">
                <h5 class="">
                    <strong>Name: </strong>
                    <%=campground.name%>
                </h5>
                <h5 class="">
                    <strong>Description: </strong>
                    <%=campground.description%>
                </h5>
                <div class="container d-flex justify-content-center">
                    <a href="/campgrounds" class="btn btn-large btn-primary mr-4">Back to campgrounds</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>