</div>
<footer>
    <div id="footer" class="footer d-flex flex-column justify-content-start">
        <div class="border-bottom border-dark pb-2 align-self-center" style="width: 40%">

        </div>
        <div class="mb-0">
            <strong> Developed by Rodrigo Pereira</strong>
        </div>
    </div>
</footer>
</body>

</html>