<footer>
    <style>
        .footer {
            padding-top: 60px;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    </style>
    <div class="footer d-flex flex-column justify-content-start">
        <div class="border-bottom border-dark pb-2 align-self-center" style="width: 40%">

        </div>
        <div class="pt-2">
            <strong> Developed by Rodrigo Pereira</strong>
        </div>
    </div>
</footer>
</body>

</html>