<% include partials/header %>

<h1>You fell in love with:
    <%= thing.toUpperCase() %>
</h1>
<% if(thing.toLowerCase() === 'jade'){ %>
<p><strong>Good Choice! Jade is the Best!</strong></p>
<% } %>
<p>P.S this is the love.ejs file!</p>

<!-- <%= %> -- This tags means to add on html -->
<!-- <% %> -- This tags means to do some logic content, like if-statements -->

<% include partials/footer %>