<h1>This is the secret page</h1>

<p>You found me</p>

<div style="height: 400px; width: 400px; border: 1px solid crimson; margin: 0 auto 0 auto; text-align: center">
    Hello
</div>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>