p {
    /*Size*/
    width: 200px;

    /*Border*/
    border: 4px solid blue;
    border-top: 4px solid red; 

    /*Padding - distance from the side*/ 
    padding: 50px;
    padding-right: 200px;

    /*Margin*/
    margin: 100px;
    margin-left: 500px;
    margin-left: 20px 40px 500px 100px; /*top - right - bottom - left*/
    margin: 0 auto 0
    
    
}