<% include partials/header %>
<style>
    #banner {
        margin-top: 150px;
        height: 200px;
        width: 800px;
        display: flex;
    }
</style>

<!-- d-flex justifiy-content-center -->
<div id="banner" class="container justify-content-center border border-secondary rounded-pill bg-light">
    <div class=" d-flex flex-row justify-content-center align-items-center">
        <div class="row align-items-center">
            <div class="icon"><i class="fas fa-dog fa-5x mr-5"></i></div>
            <div class="display-3">Dog's Blog</div>
        </div>
    </div>
</div>

<% include partials/footer %>